@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background animatsiyasi */
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  body {
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fad0c4, #ffdde1);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  /* Tugmalar uchun hover effekti */
  .button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded transition duration-300;
  }
  
  .button:hover {
    @apply bg-blue-700 transform scale-105;
  }
  
  